html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    padding: 0px;
    margin: 0px;
}

#errorMessage {
    margin: 10px;
    padding: 0px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input, button {
    background-color: #eee;
    border: solid #aaaaaa 2px;
    box-shadow: 0px 0px 5px -1px;
    border-radius: 15px;
    transition: box-shadow 0.25s ease;
}

input {
    width: 300px;
    height: 30px;
    margin: 0px;
    margin-bottom: 10px;
    text-align: center;
    transition: background-color 0.25s ease;
}

input:focus {
    background-color: rgb(255, 238, 238);
}

button {
    width: 100px;
    height: 30px;
    margin: 0px;
    margin-top: 10px;
    transition: width 0.25s ease, height 0.25s ease, background-color 0.25s ease;
}

button:hover {
    width: 105px;
    height: 35px;
    background-color: rgb(255, 238, 238);
}

button:active {
    background-color: rgb(222, 196, 196);
    box-shadow: none;
}